[submodule "submodules/tmuxifier"]
	path = submodules/tmuxifier
	url = https://github.com/DeX3/tmuxifier.git
[submodule "submodules/powerline-fonts"]
	path = submodules/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "submodules/pure-prompt"]
	path = submodules/pure-prompt
	url = https://github.com/sindresorhus/pure
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
