[submodule "submodules/powerline-fonts"]
	path = submodules/powerline-fonts
	url = git@github.com/powerline/fonts.git
[submodule "submodules/pure-prompt"]
	path = submodules/pure-prompt
	url = git@github.com/sindresorhus/pure
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/chemacs"]
	path = submodules/chemacs
	url = git@github.com:plexus/chemacs.git
[submodule "submodules/tfenv"]
	path = submodules/tfenv
	url = git@github.com:tfutils/tfenv.git
[submodule "submodules/tmuxifier"]
	path = submodules/tmuxifier
	url = git@github.com:romandecker/tmuxifier.git
