.emacs.desktop
.emacs.desktop.lock
projectile-bookmarks.eld
projectile.cache
network-security.data
auto-save-list/
persp-confs/
elpa/
undo/
backup/
eshell/
.yas-compiled-snippets.el
recentf
workgroups
customize.el
**/*~
session.*
/last-workgroup
